/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

a {
  color: #FF6F4A;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #FF6F4A;
  text-decoration: none;
}

/* Header Container */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 18px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Logo Styling */
.logo h1 {
  color: #FF6F4A;
  display: flex;
  align-items: center;
  font-size: 28px;
}

.logo-icon {
  margin-right: 10px;
}

/* Navbar Links */
.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  font-size: 16px;
  color: #004D60;
}

.navbar a:hover {
  color: #FF6F4A;
}

.search-bar-container {
  position: relative;
  width: 300px;
}

.search-input-wrapper {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
  font-size: 18px;
}

/* Suggestions Dropdown */
.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  z-index: 999;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}


.navbar_login a {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  text-decoration: none;
  color: #FF6F4A;
}

.login-container {
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container{
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}
.header_content{
  padding: 7px 20px;
  border-radius: 0px 0px 10px 10px;
  position: relative;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1350;
}


.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-start;
}
*, ::after, ::before {
  box-sizing: border-box;
}